# Archivos de configuración sensibles de Base de Datos
api/db_config.php
api/bd_conexion.php

# Node modules (muy pesado)
node_modules/

# Archivos del sistema
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
